* {
    box-sizing: border-box;
  }
  
  body {
    max-width: 1000px;
  }
  
  @media only screen and (min-width: 640px) {
    .recipe-img {
      width: 33.3%;
    }
    
    main {
      width: 100%;
    }
  }