h1 {
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
    font-size: 98px;
    color: #8CBEB2;
    background-color: #5C4B51;
  }

  head {
    background-color: #5C4B51;
    width: 100%;
    position: fixed;
  }
  
  #sub-instructions {
    font-size: 20px;
  }

  main, .recipe {
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    font-size: 30px;
    background-color: #F2EBBF;
    width: 80%;
    height: 100%;
    color: #5C4B51;
    padding-bottom: 100px;
  }
  
  p, .recipe {
    text-align: center;
  }

  .recipe-img:hover {
      cursor: pointer;
  }
  
  .recipe {
    display: inline-block;
  }
  
  .recipe-img {
    width: 100%;
  }
  
  .js-search-btn {
    background-color: #C75555;  
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }  
  
  input {
    display: block;
    margin: 10px auto;
  }

  html, body {
      height: 100%;
  }
  
  .background-img {
      background-image: url("https://i.pinimg.com/564x/73/f7/3d/73f73d6ea85daf67995e1a47d18445ae.jpg");
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }